{% extends "layouts/base.html" %}
{% load static %}


{% block link_css %}
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class = "top-content">
  <button type="button" class="btn btn-link btn-lg" disabled>Новые вопросы</button>
  <a href="{% url 'hot' %}"><button type="button" class="btn btn-link btn-lg"> Популярные вопросы</button></a>
</div>

{% for question in questions %} 
  {% include 'layouts/question.html' %}
{% endfor %}

{% include 'layouts/pagination.html' %}

<script src="https://kit.fontawesome.com/db91f6837d.js" crossorigin="anonymous"></script>

{% endblock %}

