{% extends "layouts/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block link_css %}
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-form">
  <h3>
      Вход в аккаунт
  </h3>
  <form action="{% url 'login' %}" method="POST">
     
      {% csrf_token %}
      {% bootstrap_form form %}
      
      <input type="hidden" name="continue" value="{{ continue }}">
      
      {% buttons %}
        <button type="submit" class="btn btn-outline-primary btn-lg">Войти</button>
      {% endbuttons %}
  </form>

  <a href="{% url 'register' %}" class="btn btn-link no-padding">Зарегистрироваться</a>
  
</div>
{% endblock %}