{% extends "layouts/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block link_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
 <link rel="stylesheet" href="{% static 'css/one_question.css' %}">
{% endblock %}

{% block content %}

{% include 'layouts/question.html' %}

{% if request.user.is_authenticated %}
<div class = "answer-add">
  <h3>Добавьте свой ответ</h3>
  <div>
    <form action="{% url 'question' question.id%}" method="POST">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-outline-primary btn-lg">Ответить</button>
        {% endbuttons %}

    </form>
  </div>
</div>
{% endif %}
<div class = "answers-container">
  <div class ="answers-header"><h3>Ответы</h3></div>

  <div class = "answers-list">
    {% for answer in answers %}
      {% include 'layouts/answer.html' %}
    {% endfor %}
  </div>

{% include 'layouts/pagination.html' %}
  
</div>
<script src="https://kit.fontawesome.com/db91f6837d.js" crossorigin="anonymous"></script>
<script src = "{% static 'js/correct.js' %}"></script>
{% endblock %}