{% extends "layouts/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block link_css %}
 <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class = "registration-form">
    <h3>
        Регистрация
    </h3>
    <form action="{% url 'register' %}" method="POST">

        {% csrf_token %}

        {% bootstrap_form form %}
        
        {% buttons %}
            <button type="submit" class="btn btn-outline-primary btn-lg">Зарегестрироваться</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}