{% extends "layouts/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block link_css %}
 <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
    <div class = "settings">
        <h3>
            Settings: {{ request.user.username }}
        </h3>
        <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
            
          {% csrf_token %}
          {% bootstrap_form form %}

          {% buttons %}
            <button type="submit" class="btn btn-outline-primary btn-lg">Сохранить</button>
          {% endbuttons %}
        </form>
    </div>
{% endblock %}